<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | Hobby Finder</title>

    <!-- Link to external CSS file for styling -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- Navigation -->
    <nav class="navigation">
        <a href="login.html">Log In</a>
        <a href="signup.html">Sign Up</a>
    </nav>
    <!-- Forgot Password Form -->
    <form class="forgot-form">
        <div class = "forgot-header">
            <header>Forgot Password</header>   
        </div>
        <!-- Email sign up container -->
        <div class="input-container">
            <input type="email" id="forgot-email" class="input-field" name="email" placeholder="Email">
        </div>
        <!-- Reset Button -->
        <div class="input-submit">
            <button type="submit" class="submit-btn" id="submit">Reset</button>
        </div>
    </form>

    <script>
        const forgotForm = document.querySelector(".forgot-form");
        const forgotButton = document.getElementById("submit");
    
        forgotButton.addEventListener("click", async (e) => { // e is mouse event when submit button is clicked
            e.preventDefault(); // Prevent form submission, only want to validate it

            const email = document.getElementById("forgot-email").value.trim() // trim removes whitespace
            
            try {
            // If user exists and email matches
                const response = await fetch("http://127.0.0.1:5050/forgot", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ email }) // go to server
                })
            
                const result = await response.json();

                if (response.ok) { // successful signup
                    alert("Instructions to reset password sent to email. (Not available at this time)");
                    window.location.href = "signup.html";
                } else {
                    alert(result.message || "Email could not be found right now");
                };

            } catch (error) {
                console.log('Error:', error);
                alert('Error resetting password');
            }
        })
    </script>
</body>
</html>