<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Hobby Finder</title>

    <!-- Link to external CSS file for styling -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- Login Form -->
    <form class = "login-form">
        <div class = "login-header">
            <header>Welcome to Hobby Finder</header>   
        </div>

        <!-- Email Container -->
        <div class="input-container">
            <input type="email" id="email" class="input-field" placeholder="Email" autocomplete="off" required>
        </div>

        <!-- Password Container -->
        <div class="input-container">
            <input type="password" id="password" class="input-field" placeholder="Password" autocomplete="off" required>
        </div>

        <!-- Invalid Username/Password Container -->
        <div id="login-error-msg-holder">
            <p id="login-error-msg">Invalid username <span id="msg-second-line">and/or password</span></p>
        </div>

        <div class="forgot">
            <!-- Remember me -->
            <section>
                <input type="checkbox" id="check">
                <label for="check">Remember me</label>
            </section>
            <!-- Forgot Password -->
            <section>
                <a href="forgot.html">Forgot Password</a>
            </section>
        </div>

        <!-- Login Button -->
        <div class="input-submit">
            <button type="submit" class="submit-btn" id="submit">Log In</button>
        </div>


        <!-- Other options than logging in -->
        <div class="other-acc">
            <section>
                <!-- Guest option -->
                <a href="guest.html">Guest Log In</a></p>
            </section>
            <section>
                <!-- Create an Account -->
                <a href="signup.html">Create an Account</a></p>
            </section>
        </div>

    </form>

    <!-- Script for login form -->
    <script>
        const loginForm = document.querySelector(".login-form");
        const loginButton = document.getElementById("submit");
        const loginErrorMsg = document.getElementById("login-error-msg")
    
        loginButton.addEventListener("click", async (e) => { // e is mouse event when submit button is clicked
            e.preventDefault(); // Prevent form submission, only want to validate it

            // Retrieve user info
            const email = document.getElementById("email").value.trim() // trim removes whitespace
            const password = document.getElementById("password").value.trim()
    
            // Send to backend
            const response = await fetch("http://127.0.0.1:5050/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ email, password }) // go to server
            })

            try { // Send to backend
                const result = await response.json();

                if (response.ok) { // successful login
                    localStorage.setItem("user", JSON.stringify({ // stored in localStorage
                        email: email,
                        user_id: result.user_id
                    }));

                    alert("Login Successful");
                    window.location.href = 'dashboard.html' // redirect to the dashboard
                } else {
                    showError(result.message || "Invalid email or password"); // wrong login credentials
                }
            } catch (error) { // for server issues
                showError("Unable to Login at This Time.");
                console.error("Unsuccessful Login", error);
            }

            function showError(message) {
                loginErrorMsg.style.visibility = "visible"; // Show error message
                loginErrorMsg.style.opacity = 1; 
            
                // error message hidden after 3 seconds
                setTimeout(() => {
                    loginErrorMsg.style.opacity = "0";
                    setTimeout(() => {
                        loginErrorMsg.style.visibility = "hidden";
                    }, 300); 
                }, 3000); 
            }
        })

    </script>
</body>
</html>