<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Hobbies | Hobby Finder</title>

    <!-- Link to external CSS file for styling -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- Navigation -->
    <nav class="navigation">
        <a href="dashboard.html">Home</a>
        <a class="active" href="saved.html">Saved Hobbies</a>
        <a href="#" id="logout">Logout</a>
    </nav>

    <!-- User Management of Hobbies -->
    <!-- Saved hobbies container -->
    <section class="saved-container">
        <h2>Saved Hobbies</h2>
        <ul id="saved-list"></ul>
    </section>

    <script>
        // Load when page loads
        document.addEventListener("DOMContentLoaded", function() {
            // If users tries to access page but are not logged in
            if (!localStorage.getItem("user")) {
                window.location.href = "login.html";
            }

            showSaved();

            // Log out user
            document.getElementById("logout").addEventListener("click", () => {
                localStorage.removeItem("user");
                window.location.href = "login.html";
            });
        })

        // Show saved hobbies
        function showSaved() {
            // get saved hobbies to parse to list, creates empty array if none found
            let saved = JSON.parse(localStorage.getItem("saved")) || [];
            console.log("Saved Hobbies from Local Storage:", saved); // Debugging line 
            let hobbies = document.getElementById("saved-list");
            hobbies.innerHTML = ""; // Removes older lists

            // No hobbies saved
            if (saved.length == 0) {
                let li = document.createElement("li");
                li.textContent = "No hobbies saved";
                hobbies.appendChild(li);
                return;
            }

            // Loop to show hobbies
            for (let hobby of saved) {
                let li = document.createElement("li");
                li.textContent = hobby;

                // Remove a hobby
                let removeBtn = document.createElement("button");
                removeBtn.textContent = "Remove";
                removeBtn.addEventListener("click", () => remove(hobby));

                li.appendChild(removeBtn);
                hobbies.appendChild(li);
            }
        }

        // Remove hobbies
        function remove(hobby) {
            let saved = JSON.parse(localStorage.getItem("saved")) || []; 
            saved = saved.filter(h => h !== hobby); // removes
            localStorage.setItem("saved", JSON.stringify(saved)); // update list
            showSaved(); // refresh
        }
    </script>

</body>
</html>