<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | Hobby Finder</title>

    <!-- Link to external CSS file for styling -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- Navigation -->
    <nav class="navigation">
        <a class="active" href="signup.html">Sign Up</a>
        <a href="login.html">Log In</a>
    </nav>
    <!-- Sign Up Form -->
    <form class="signup" novalidate onsubmit="return false;">
        <div class = "signup-header">
            <header>Sign Up</header>   
        </div>
        <!-- Full name sign up container -->
        <div class="input-container">
            <input type="text" id="fullname" class="input-field" name="fullname" placeholder="Full Name">
        </div>
        <!-- Email sign up container -->
        <div class="input-container">
            <input type="email" id="signup-email" class="input-field" name="email" placeholder="Email">
        </div>
        <!-- Password sign up container -->
        <div class="input-container">
            <input type="password" id="signup-password" class="input-field" name="password" placeholder="Password">
        </div>
        
        <!-- Sign Up Button -->
        <div class="input-submit">
            <button type="submit" class="submit-btn" id="submit" >Sign Up</button>
        </div>
    </form>

    <script>  
        
        document.addEventListener('DOMContentLoaded', () => {
            const signUpForm = document.querySelector(".signup");

            signUpForm.addEventListener("submit", async (e) => { // e is mouse event when submit button is clicked
                e.preventDefault(); // Prevent form submission, only want to validate it
                

                const fullname = document.getElementById("fullname").value.trim()
                const email = document.getElementById("signup-email").value.trim() // trim removes whitespace
                const password = document.getElementById("signup-password").value.trim()

                if (!fullname || !email || !password) {
                    alert("Please fill out all the fields");
                    return;
                }

                console.log({ fullname, email, password });


                try { // Send to backend
                    const response = await fetch("http://127.0.0.1:5050/signup", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ fullname, email, password }) // go to server
                    })
                
                    const result = await response.json();

                    if (response.ok) { // successful signup
                        console.log("Signup successful, storing user and redirecting...");
                        localStorage.setItem("user", JSON.stringify({ // stored in localStorage
                            email: email,
                            user_id: result.user_id
                        }));

                        console.log("Sign up Successful");

                        window.location.href = "login.html";  // redirect to the login page
                    } else {
                        alert(result.message || "There was an error")
                    }
                } catch (error) { // for server issues
                    console.error("Unsuccessful Signup", error);
                }
                return false;
            })
        })
    </script>
</body>
</html>