<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Hobby Finder</title>

    <!-- Link to external CSS file for styling -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- Login Form Container -->
    <div class = "login-container">
        <div class = "login-header">
            <header>Welcome to Hobby Finder</header>   
        </div>
        <!-- Email Container -->
        <div class="input-container">
            <input type="text" class="input-field" placeholder="Email" autocomplete="off" required>
        </div>
        <!-- Password Container -->
        <div class="input-container">
            <input type="password" class="input-field" placeholder="Password" autocomplete="off" required>
        </div>
        <div class="forgot">
            <!-- Remember me -->
            <section>
                <input type="checkbox" id="check">
                <label for="check">Remember me</label>
            </section>
            <!-- Forgot Password -->
            <section>
                <a href="#">Forgot Password</a>
            </section>
        </div>
        <!-- Login Button -->
        <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">Sign In</label>
        </div>
        <!-- Create an account option -->
        <div class="create-acc">
            <a href="#">Create an Account</a></p>
        </div>
    </div>
</body>
</html>